# stack ports
PORT_ELASTICSEARCH=
PORT_ELASTICSEARCH_TRANSPORT=
PORT_KIBANA=

# rabbitmq
RABBITMQ_HOST=
RABBITMQ_PASSWORD=
RABBITMQ_USER=

ELASTIC_PASSWORD=

CONTROLROOM_ES_USER=
CONTROLROOM_ES_PASS=
ELASTICSEARCH_URL=

# teams
TEAMS_WEBHOOK_URL=

# mcp
MCP_BASE_URL=
MCP_PORT=

# watchdog
MONITORED_SERVICES=

# kibana
KIBANA_USERNAME=
KIBANA_PASSWORD=
KIBANA_ENCRYPTION_KEY=

KIBANA_URL=

# data id's

# logs dashboard
DASHBOARD_LOGS_ID=
DATAVIEW_LOGS_ID=

# heartbeats dashboard
DASHBOARD_HEARTBEATS_ID=
DATAVIEW_HEARTBEATS_ID=

DASHBOARD_USER=
DASHBOARD_PASSWORD=

DebugMode=
