PORT_ELASTICSEARCH=
PORT_ELASTICSEARCH_TRANSPORT=
PORT_KIBANA=
RABBITMQ_HOST=
RABBITMQ_PASSWORD=
RABBITMQ_USER=
KIBANA_ENCRYPTION_KEY=
ELASTIC_PASSWORD=
KIBANA_USERNAME=
KIBANA_PASSWORD=
CONTROLROOM_ES_USER=
CONTROLROOM_ES_PASS=
ELASTICSEARCH_URL=
TEAMS_WEBHOOK_URL=
MONITORED_SERVICES=

# mcp stuff
MCP_BASE_URL=
MCP_PORT=
